@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 600px;
}

.box {
    width: 800px;
    height: 450px;
    display: grid;
}

.top {
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Font Color Top */
.title {
color: hsl(179, 62%, 43%);
}
.sub-title {
color: hsl(71, 73%, 54%);
}
.text {
color: hsl(218, 22%, 67%);
font-size: 16px;
}

/* Bottom */
.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    background-color: hsl(179, 62%, 43%);
    color: white;
    padding-left: 10%;
    border-bottom-left-radius: 15px;
}

.sub-header,
.list {
    font-size: 18px;
    color: white;
}

.monthly-price {
    display: flex;
    height: 70px;
    gap: 5%;
}

.number {
    font-size: 28px;
}

.month {
    align-self: center;
    font-size: 14px;
    margin-top: 9%;
    color: hsl(204, 43%, 93%);
}

.button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    width: 250px;
    border: none;
    height: 50px;
    border-radius: 7px;
    font-size: 18px;
}

.right {
    background-color: hsl(179, 63%, 53%);
    padding-left: 5%;
    border-bottom-right-radius: 15px;
}

.list {
    list-style: none;
    margin-left: -40px;
    font-size: 16px;
    color: hsl(204, 43%, 93%);
}